# PR tests: call reusable workflow with action at PR head ref (branch-based testing).
name: Tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  tests:
    name: Tests
    uses: ./.github/workflows/run-tests.yml
    with:
      action_ref: ${{ github.event.pull_request.head.ref }}
    secrets: inherit
